* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    padding: 18px;
}

header {
    text-align: center;
    color: black;
    background-color: rgb(58, 105, 214);
    width: 100vw;
    border: 3px solid black;
    height: 20vh;

}

nav {
    width: 10vw;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px;
}

main {
    width: 80vw;
    background-color: blueviolet;
}

aside {
    width: 10vw;
    background-color: brown;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

footer {
    width: 100vw;
    background-color: black;
    color: aliceblue;
    text-align: center;
    height: 20vh;
}

section {
    display: flex;
    height: 60vh;
}